@model NashIRL.Models.ViewModels.EventDetailViewModel

@{
    ViewData["Title"] = "Details";
}

@if (Model.CurrentUserProfileId == Model.CurrentEvent.UserProfileId)
{
    <a href="@Url.Action("Edit", new { id = Model.CurrentEvent.Id })">
        <div class="btn btn-primary">
            Edit Event
        </div>
    </a>
    <a href="@Url.Action("Delete", new { id = Model.CurrentEvent.Id })">
        <div class="btn btn-primary">
            Delete Event
        </div>
    </a>
}
<hr />
<div class="row mb-5">
    <div class="eventDetail-wrapper col-md-5">
        <h2 class="text-center mb-4">@Model.CurrentEvent.Name</h2>
        <div class="eventDetail-creator text-center mb-5"> Created by @Model.CurrentEvent.UserProfile.FirstName @Model.CurrentEvent.UserProfile.LastName</div>
        <h5 class="eventDetail-date text-center mb-5">
            @Model.CurrentEvent.EventOn.ToShortDateString() at @string.Format("{0:h:mm tt}", Model.CurrentEvent.EventOn)
        </h5>
        <p class="eventDetail-desc">
            @Model.CurrentEvent.Description
        </p>
    </div>
    @if (Model.CurrentEvent.ImageUrl != null)
    {
        <span class="eventDetail-image col-md-7 align-middle text-center">
            <img src="@Model.CurrentEvent.ImageUrl" />
        </span>
    }
</div>

<section class="comments">
    <h3 class="comments-title mb-3">Comments</h3>

    <a class="btn btn-primary mb-3" href="@Url.Action("Create", "Comment", new { id = Model.CurrentEvent.Id })">Add Comment</a>

    <div class="comments-wrapper">
        @foreach (var c in Model.Comments)
        {
            <div class="comment mb-3 p-3">
                <div class="comment-header mb-2">
                    @c.UserProfile.FirstName @c.UserProfile.LastName said at @string.Format("{0:h:mm tt}", c.CreatedOn), @c.CreatedOn.ToShortDateString():
                </div>
                <div class="comment-body mb-">
                    @c.Body
                </div>
                @if (c.UserProfileId == Model.CurrentUserProfileId)
                {
                    <div class="comment-buttons d-flex justify-content-end">
                        <a href="@Url.Action("Edit", "Comment", new { id = c.Id })">
                            <i class="far fa-edit"></i>
                        </a>
                        <a href="@Url.Action("Delete", "Comment", new { id = c.Id })">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                }
            </div>
        }
    </div>
</section>
