@model NashIRL.Models.ViewModels.EventDetailViewModel

@{
    ViewData["Title"] = "Details";
}

@if (Model.CurrentUserProfileId == Model.CurrentEvent.UserProfileId)
{
    <a href="@Url.Action("Edit", new { id = Model.CurrentEvent.Id })">
        <div class="btn btn-primary">
            Edit Event
        </div>
    </a>
    <a href="@Url.Action("Delete", new { id = Model.CurrentEvent.Id })">
        <div class="btn btn-primary">
            Delete Event
        </div>
    </a>
}
<h2>@Model.CurrentEvent.Name</h2>
<hr />
<div class="eventDetail-wrapper">
    @if (Model.CurrentEvent.ImageUrl != null)
    {
        <span class="eventDetail-image">
            <img src="@Model.CurrentEvent.ImageUrl" />
        </span>
    }
    <p class="eventDetail-description">
        @Model.CurrentEvent.Description
    </p>
    <p class="eventDetail-date">
        @Model.CurrentEvent.EventOn.ToShortDateString()
    </p>
</div>

<section class="comments">
    <h3 class="comments-title">Comments</h3>

    <div class="comments-wrapper">
        @foreach (var c in Model.Comments)
        {
            <div class="comment">
                <div class="comment-header">
                    @c.UserProfile.FirstName said at @c.CreatedOn:
                </div>
                <div class="comment-body">
                    @c.Body
                </div>
            </div>
        }
    </div>
</section>
