@model NashIRL.Models.ViewModels.HobbyAdminViewModel

<h1 class="text-center mb-4">Hobby Management</h1>

<div class="row">
    <section class="approvedHobbies col-md-6 text-center">
        <h2>Approved Hobbies</h2>
        <div class="adminHobbies-wrapper text-center">
            @foreach (var h in Model.ApprovedHobbies)
            {
            <div class="adminHobby-line mb-5 d-flex justify-content-end pr-5">
                <div class="adminHobby-link mr-5">
                    <a href="@Url.Action("Details", "Hobby", new { id = h.Id })">@h.Name</a>
                </div>
                <div class="adminHobby-link mr-4">
                    <a href="@Url.Action("Edit", "Hobby", new { id = h.Id })">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
                <div class="adminHobby-link mr-5">
                    <a href="@Url.Action("Delete", "Hobby", new { id = h.Id })">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
            }
        </div>
    </section>
    <section class="pendingHobbies col-md-6 text-center">
        <h2>Pending Hobbies</h2>
        <div class="adminHobbies-wrapper text-center">
            @foreach (var h in Model.PendingHobbies)
            {
            <div class="adminHobby-line mb-5 d-flex justify-content-end pr-5">
                <div class="adminHobby mr-5">
                    <p>@h.Name</p>
                </div>
                <div class="adminHobby-link mr-4">
                    <a href="@Url.Action("Edit", "Hobby", new { id = h.Id })">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
                <div class="adminHobby-link mr-4">
                    <a href="@Url.Action("Approve", "Hobby", new { id = h.Id })">
                        <i class="far fa-thumbs-up"></i>
                    </a>
                </div>
                <div class="adminHobby-link mr-4">
                    <a href="@Url.Action("Delete", "Hobby", new { id = h.Id })">
                        <i class="far fa-thumbs-down"></i>
                    </a>
                </div>
            </div>
            }
        </div>
    </section>
</div>
