@model NashIRL.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <section class="hobbies col-md-6 text-center">
        <h2 class="hobbies-title">Hobbies</h2>
        <div class="hobbies-wrapper d-flex flex-wrap">
            @foreach (var h in Model.Hobbies)
            {
                <div class="hobby col-md-4 text-center">
                    <a class="btn btn-primary" href="@Url.Action("Details", "Hobby", new { id = h.Id })">@h.Name</a>
                </div>
            }
        </div>
    </section>
    <section class="events col-md-6">
        <h2 class="events-title text-center">Upcoming Events</h2>
        <div class="events-wrapper">
            <div class="events-line"></div>
            <ul class="events-list">
                @foreach (var e in Model.Events)
                {
                    <li class="event">
                        <div class="event-top d-flex text-center">
                            <div class="event-circle">@e.EventOn.Month/@e.EventOn.Day</div>
                            <div class="event-title">
                                <a href="@Url.Action("Details", "Event", new { id = e.Id })">@e.Name</a>
                            </div>
                        </div>
                        <div class="event-desc">
                            <p>@string.Format("{0:h:mm tt}", e.EventOn)</p>
                            <p>@e.Description</p>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </section>
</div>
